/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@200;400;500;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// variables
:root {
  // colors
  --color-neutral-100: #030303;
  --color-neutral-900: hsla(0, 0%, 100%, 1);
  --color-accent: hsla(193, 90%, 52%, 1);

  // font-family
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Rubik", sans-serif;
  // font-weights
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  // radius
  --border-radius: 50px;
  // font-size
  --step-paragraps: clamp(1rem, calc(0.85rem + 0.75vw), 1.75rem);
  --step-main-title: clamp(3.94rem, calc(3.41rem + 2.63vw), 6.56rem);
  --step-btn-text: clamp(1rem, calc(0.98rem + 0.13vw), 1.13rem);
  --step-nav: clamp(1rem, calc(0.08rem + 4.63vw), 5.63rem);
  --step-nav-counter: clamp(0.63rem, calc(0.4rem + 1.13vw), 1.75rem);
  --step-section-titles: clamp(3rem, calc(1.95rem + 5.25vw), 8.25rem);
  --step-section-subtitles: clamp(1.88rem, calc(1.75rem + 0.63vw), 2.5rem);
  --step-features-subtitles: clamp(1.88rem, calc(1.38rem + 2.5vw), 4.38rem);
  --step-big-numbers: clamp(3.75rem, calc(2.25rem + 7.5vw), 11.25rem);
  --step-footer-title: clamp(3rem, calc(2.85rem + 0.75vw), 3.75rem);

  // padding
  --space-s: clamp(1rem, calc(0.83rem + 0.74vw), 1.5rem);

  // logo
  --logo: clamp(2rem, calc(3.52rem + 4.62vw), 4rem);
}
